$black: #000000;
$white_color: #ffffff;
$white_color_2: #E4E4E4;
$btn_bg: #244b49;
$btn_hover_color: #173157;
$quality_bg: #162741;
$links_bg: #101C2E;
$footer_bg: #080F18;
$red: #FF2D2D;
$orange: #FFAB34;
$font-family-poppins: "Poppins", sans-serif;
$font-family-kaushan: "Kaushan Script", cursive;
$font-family-inter: "Inter", sans-serif;
$font-family-jura: 'Jura', sans-serif;
$transition: all linear 0.3s;
