@import "../variable/variable";
/* ====================== 
      NAVBAR START 
=========================*/
#navigation_bar {
  background: transparent;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  .container {
    a {
      max-width: 271px;
      max-height: 60px;
      img {
        max-width: inherit;
        max-height: inherit;
      }
    }
    ul.navbar-nav {
      li.nav-item {
        margin-left: 35px;
        a.nav-link {
          font-family: $font-family-poppins;
          font-weight: 500;
          font-size: 18px;
          line-height: 1.12;
          text-align: center;
          letter-spacing: 0.15em;
          color: $white_color;
          padding: 0;
          padding-bottom: 5px;

          position: relative;
          &::after {
            content: "";
            height: 1px;
            width: 0%;
            background-color: $white_color;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: $transition;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
}
/* ====================== 
      NAVBAR END
=========================*/
/* ====================== 
      OFFCANVAS SIDEBAR START
=========================*/
#navigation_bar {
  .container {
    button.offcanvas_btn {
      padding: 0;
      background: transparent;
      border: 0;
      display: none;
      i {
        font-size: 25px;
      }
    }
  }
}

.offcanvas {
  .offcanvas-header {
    background-color: $links_bg;
    text-align: center;
    .offcanvas-title{
      color: $white_color
    }
    .btn-close {
      background: none;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 100%;
      i {
        color: white;
        opacity: 100%;
        font-size: 25px;
      }
      &:focus{
        box-shadow: none;
      }
    }
  }
  .offcanvas-body {
    background-color: $quality_bg;
    ul {
      li {
        margin-bottom: 1px;
        text-align: center;
        a {
          color: $white_color;
          font-weight: bold;
          transition: $transition;
        }
        &:hover{
          a{
            opacity: .5;
          }
        }
      }
    }
  }
}
/* ====================== 
      OFFCANVAS SIDEBAR END
=========================*/
/* ====================== 
      STICKY NAVBAR START
=========================*/
#navigation_bar.sticky{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: $footer_bg;
  width: 100%;
  z-index: 999;
}
/* ====================== 
      STICKY NAVBAR END
=========================*/
